* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#65E4CC, #5096E0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.container {
  background-color: white;
  min-height: 500px;
  width: 400px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

}

.todo-list-container {
  margin-top: 10px;
  margin-bottom: 10px;

  max-height: 350px;
  /* Adjust height based on design */
  overflow-y: auto;
  /* Enables vertical scrolling */

}

/* Custom Scrollbar (Optional) */
.todo-list-container::-webkit-scrollbar {
  width: 6px;
}

.todo-list-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.todo-list-container::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}


.input {
  margin-top: 10px;
  justify-content: space-between;
  display: inline-flex;
  gap: 10px;

}

.input input {
  font-size: 20px;
  width: 290px;
  border: 1px solid rgba(128, 128, 128, 0.525);
  border-radius: 5px;
  padding-left: 15px;
  margin-left: 10px;


}

.input input:focus {
  border-color: blueviolet;
  outline: none;
  /* Removes default browser outline */
  box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
  color: blueviolet;
  /* Optional glow effect */
}


.input input::-webkit-input-placeholder {
  font-size: 18px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;

}

.input button {
  height: 40px;
  width: 40px;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 10px;

}


.items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;

}

.task-checkbox {
  margin-right: 10px;
  cursor: pointer;
  accent-color: blueviolet;
  /* border: #E74C3C; */
  width: 18px;
  height: 18px;
}




.items-name {
  font-size: medium;
  font-weight: 600;
  flex-grow: 1;
  /* Allows the text to take remaining space */
}

.delete-button {
  background-color: #E74C3C;
  /* Red delete button */
  border: none;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button svg {
  color: white;
  font-size: 16px;
}

.footer {
  margin-top: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-weight: 500;
  font-size: 16px;
  flex-direction: row;
}

.footer button {
  height: 30px;
  padding: 2.5px;
  width: 80px;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 10px;

}